.footer {
    background-color: #5a3923;
    border-radius: 20px;
    min-height: 80px;
    margin-top: 30px;
}
.footer__text{
    padding: 30px;
    text-align: center;
    color: aliceblue;
}