.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 22, 15);
    color: aliceblue;
}
.menu{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}
.menu__link{
    display: block;
    padding: 10pt;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #5a3923;
    background-color: rgba(238, 116, 30, 0.651);
    
}