.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a3923;
    color: white;
    border-radius: 20px;

}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a3923;
    color: white;
    border-radius: 20px;
}
 .menu{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}
.menu__item{
    transition: all 0.3s ease;
}
.menu__item:hover{
    opacity: 0.7;
    transform: scale(1.05);
}

.menu__link{
    display: block;
    padding: 10pt;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #5a3923;
    background-color:navajowhite;
    border-radius: 20px;
    
}



