.welcome{
    text-align: center;
}
.welcome__image{
    margin: 0 auto;
}
.famous__wrap{
    display: flex;
    justify-content: space-between;
}
.paintings__wrap{
    display: flex;
    justify-content: space-between;
}
.museum__wrap{
    display: flex;
    justify-content: space-between; 
}