.welcome{
    text-align: center;
}
.welcome__image{
    margin: 0 auto;
   
}
.famous__list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.famous__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: navajowhite;
    padding: 10px;

}
.famous__name{
   font-size: 23px;
   color: #5a3923;


}
.famous__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

}
.paintings__list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.paintings__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: navajowhite;
    padding: 10px;
}

.paintings__name{
    font-size: 23px;
    color: #5a3923;
}

.paintings__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

}

.museum__list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.museum__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: navajowhite;
    padding: 10px;
}


.museum__name{
    font-size: 23px;
    color: #5a3923;
}


.museum__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.famous__item{
    transition: all 0.3s ease;  
}
.famous__item:hover{
    opacity: 0.7;
    transform: scale(1.05);   
}          
.paintings__item {
    transition: all 0.3s ease;  
}
.paintings__item:hover{
    opacity: 0.7;
    transform: scale(1.05);   
}
.museum__item{
    transition: all 0.3s ease;  
}
.museum__item:hover{
    opacity: 0.7;
    transform: scale(1.05);   
}

.famous__card {
  width: 1350px; /*задаемширинуслайдера с карточками */
  margin-top: 60px;/*отступсверху*/
  display: flex;/*Используемflexbox для выравнивания карточек в строку*/
  gap: 40px;/*промежуток между карточками */
overflow: hidden;/*если содержимое выходит за пределы карточки, то скрытие лишнего */
}

.famous__img {
  min-width: 360px;/*устанавливаем минимальную ширину для каждого изображения*/

}
.famous__item {
  width: 360px;/*устанавливаем ширину для каждого элемента*/
  transition: 0.3sease;/* плавное изменение отображения длительностью 0.3 секунды*/
  }

.famous__link {
  border: none;/*убираемрамкуукнопки*/
  margin-top: 20px;/*отступсверху*/
  color: #080101;/*цветтекста*/
  cursor: pointer;/* курсор меняем на указатель */
}
  .images__list {
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    flex-wrap: wrap; /*Если карточки не влезут в строку, то перенос на новую*/

    gap: 50px; /* промежуток между карточками */
    justify-content: center; /* распределяем элементы по центру*/ 
    list-style-type: none; /*убираем маркеры от списка ul*/
    margin: 0; /*ставим в 0 пикселей внешние отступы*/
    padding: 0; /*ставим в 0 пикселей внутренние отступы*/

}
.images__item {
    padding: 10px 30px;  /* Внутренние отступы: 10px сверху и снизу, 30px слева и справа */
     border-radius: 20px; /* скругление углов на 20px*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);/*тень карточки*/
}
    /* Скрываем контент до загрузки */
.content {
    display: none;
}

.preloader {
    padding-top: 25%; /* Отступ сверху */
    background: #fefefb; /* задаем фон при загрузке */
    transition: opacity 0.5s ease; /* Плавный переход для изменения прозрачности */
    text-align: center;/* центрируем текст */
}

.loader span {
  display: inline-block;/* располагаем элементы в строку */
  width: 20px;/* Ширина кругов */
  height: 20px;/* Высота кругов */
  border-radius: 100%;/* задаем круг */
  background-color: #141414;/* Цвет кругов */
  margin: 35px5px;/* Отступы вокруг кругов */
}
.dot1 {
    animation: bounce 1s ease-in-out infinite;/* анимация для первой точки */
}

.dot2{
    animation: bounce 1s ease-in-out 0.33s infinite;/*анимация для второй точки с задержкой*/
}

.dot3 {
    animation: bounce 1s ease-in-out 0.66s infinite;/* анимация для третьей точки с задержкой */
}

/* Анимация bounce: */
@keyframes bounce {
    0%,
    75%,
    100% {
        transform: translateY(0);/* круги на месте */
   }

    25% {
       transform: translateY(-30px);/* круги поднимаются */
   }
}
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #FFDB8B;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 500px;
      height: 100%;
      object-fit: cover;
    }
